<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/alamatlayout}">
<head>
	<title>Alamat</title>
</head>
<body>
<div layout:fragment="content">
<p align="right">
	<button onclick="addform()" class="btn btn-success">+ Transfer</button>
	<button onclick="del()" class="btn btn-success">Hapus</button>
</p>

<table class="table" width="100%">
<thead>
	
</thead>
<tbody>
	<tr th:each="item, iter: ${listalamat}">
		<td th:text="${iter.count}"></td>
		<td><input type="checkbox" th:checked="${item.Id}"></td>
		<td th:text="${item.Label}"></td>
		<td th:text="${item.Recipient}"></td>
		<td th:text="${item.Recipient_phone_number}"></td>
		<td th:text="${item.Address}"></td>
		<td><button th:value="${item.Id}" onclick="editform(this.value)" class="btn btn-labeled btn-primary">
			   <span class="btn-label"><i class="fa fa-pencil"></i></span>
			</button>
			   <button th:value="${item.Id}" onclick="deleteform(this.value)" class="btn btn-labeled btn-danger">
			   <span class="btn-label"><i class="fa fa-trash"></i></span>
			</button>
		</td>
	</tr>
</tbody>
</table>

<script>
function addform(){
	$.ajax({
		url:'/alamat/form',
		type:'get',
		contentType:'html',
		success:function(result){
			console.log(result)
			$("#mymodal").modal('show')
			$(".modal-title").html('Transaksi')
			$(".modal-body").html(result)
		}
	})
}

function deleteform(id){
	$.ajax({
		url:'/alamat/deleteform/'+id,
		type:'get',
		contentType:'html',
		success:function(result){
			console.log(result)
			$("#mymodal").modal('show')
			$(".modal-title").html('Hapus Alamat')
			$(".modal-body").html(result)
		}
	})
}
</script>
</div>


</body>
</html>